body {
    background-color: #ede1d1;
    color: #525e75;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#main {
    margin: 0 auto;
    max-width: 640px;
    padding-bottom: 2.5rem; /*footer height*/
}

img {
    max-width: 640px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #525e75;
    color: #ede1d1;
}

.footer-link, .footer-link:visited {
    color: #ede1d1;
}

.fa-github, .fa-heart, .fa-linkedin {
    color: #ede1d1;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover, .fa-linkedin:hover {
    transform: rotateY(360deg) scale(1.4);
}

.fa-heart:hover {
    transform: scale(1.25);
    color: #bc7af1;
}